/**app.less**/
page {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f6f6f8;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  line-height: inherit;
}

button::after {
  border: none;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}