/** decks/index.less **/
page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f8;
}

.scrollarea {
  flex: 1;
  overflow-y: hidden;
}

.container {
  padding: 48rpx;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 160rpx 0;
}

.empty-text {
  font-size: 32rpx;
  color: #64748b;
  margin-bottom: 48rpx;
}

.create-btn {
  background-color: #5048e5;
  color: #ffffff;
  border-radius: 24rpx;
  padding: 24rpx 48rpx;
}